body{
    background-color: #fff;
    
}

.site-header{
    background-color: #001C2A;
    
}

.site-header a{
    color: aliceblue;
}

.form-signin{
    width: 300px;
    margin-left: 35%;
    margin-top: 20%;

    padding:10px;
    
}



